*{
  margin: 0;
  padding: 0;
  list-style: none;
}
.box{
width: 400px;
  height: 300px;
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow:0 0 3px rgba(0,0,0,0.5) ;
  padding: 10px 20px;
  border-radius: 10px;
  box-sizing: border-box;
  > h2{
    text-align: center;
    line-height: 2.5;
    font-size: 26px;
    font-weight: normal;
  }
  > .formControl{
    margin-bottom: 30px;
    >input{
      width: 100%;
      height: 35px;
      border: 1px solid #cccccc;
      border-radius: 10px;
      line-height: 30px;
      font-size: 16px;
      outline: none;
      padding-left: 10px;
      box-sizing: border-box;
    }
    [type =submit]{
      background: aqua;
      color: white;
      border: none;
    }
  }
}